<h2>
  Course Info
</h2>

<hr>
<div>
  <form #courseForm="ngForm" *ngIf="course" [ngClass]="{'is-invalid': courseForm.invalid}">

    <div class="form-group row mb-2">
      <label class="col-sm-2 col-form-label">Name:</label>

      <div class="col-sm-10">
        <input [(ngModel)]="course.name" required name="name" #courseName="ngModel"
               [ngClass]="{'is-invalid': courseName.invalid}" class="form-control">
      </div>

    </div>

    <div class="form-group row mb-2">
      <label class="col-sm-2 col-form-label">Code:</label>

      <div class="col-sm-10">
        <input [(ngModel)]="course.code" required name="code" #courseCode="ngModel"
               [ngClass]="{'is-invalid': courseCode.invalid}" class="form-control">
      </div>

    </div>

    <div class="form-group row mb-2">
      <label class="col-sm-2 col-form-label">Price:</label>

      <div class="col-sm-10">
        <input [(ngModel)]="course.price" required name="price" #coursePrice="ngModel"
               type="number" [ngClass]="{'is-invalid': coursePrice.invalid}" class="form-control">
      </div>

    </div>

    <div class="form-group row mb-2">
      <label class="col-sm-2 col-form-label">Duration:</label>

      <div class="col-sm-10">
        <input [(ngModel)]="course.duration" required name="duration" #courseDuration="ngModel"
               type="number" [ngClass]="{'is-invalid': courseDuration.invalid}" class="form-control">
      </div>

    </div>

    <div class="form-group row mb-2">
      <label class="col-sm-2 col-form-label">Rating:</label>

      <div class="col-sm-10">
        <input [(ngModel)]="course.rating" name="rating" type="number" class="form-control">
      </div>

    </div>

    <div class="form-group row mb-2">
      <label class="col-sm-2 col-form-label">Release Date:</label>

      <div class="col-sm-10">
        <input [(ngModel)]="course.releaseDate" name="releaseDate" type="date" class="form-control">
      </div>

    </div>

    <div class="form-group row mb-2">
      <label class="col-sm-2 col-form-label">Description:</label>

      <div class="col-sm-10">
        <input [(ngModel)]="course.description" name="description" class="form-control">
      </div>

    </div>

    <div class="form-group row mb-2">
      <label class="col-sm-2 col-form-label">Image:</label>

      <div class="col-sm-10">
        <input type="file" class="form-control" (change)="onFileSelected($event)">
      </div>

    </div>

    <button [disabled]="courseForm.invalid" (click)="save()" class="btn btn-primary me-2">Save</button>
    <button [routerLink]="['/courses']" class="btn btn-secondary">Back</button>

  </form>

  <div *ngIf="saved" class="mt-2 ms-2" >
    <span class="text-success">Saved</span>
  </div>

  <div class="invalid-feedback">
    <span>All required fields must be filled!</span>
  </div>

</div>



